.title-product{
  margin: 60px;
}
.title-icon, .text-icon
{
  padding-left: 82px;
  align-items: center;
}
.title-icon{
  margin: 6em 0 3em 0 ;
}
.text-icon{
  margin: 2em 0 6em 0 ;
}
.title, .text{
  margin: 8px 0 10px 10px;

}
.buttons{
  margin-bottom: 100px;
}

.prodInfo {
  display: flex;
}
.buttons button{
  margin-bottom: 2rem;
}


@media screen and (min-width: 991px){
 .title-product{
    display:block !important;

  }
}
@media screen and (max-width: 991px){
  .trash,
  .total-price{
    display: none;
  }

  .prodInfo {
    display: none;
  }
  .product-information{
    justify-content: space-between;
    align-items: center;
  }
  .product-name{
    font-size: 24px;
  }
  .title-icon, .text-icon{

    padding-left: 24px !important;
  }
  .title{
    width: 100%;
    font-size: 26px;
  }
  .text{
    font-size: 16px;
  }
}
